header{
    position: fixed;
    height: 50px;
    width: 100vw;
    background: #e4e0dd;
    border-bottom: 1px solid #c7c6c4;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 5;
    color: #12192f;
}

.title_name{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    cursor: pointer;
}
.header_title{
    color: #12192f;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-right: auto;
    margin-left: 35px;
}
.AOBO_info{
    color: #12192f;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    margin-left: 18px;
}

.header_group{
    display: flex;
    margin-right: 50px;
    justify-content: space-evenly;
    width: 300px;
    left: 0px;
}
.header_group a{
    color: #12192f;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.header_popup{
    color: #12192f;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.header_group a:hover, .header_popup:hover, .id_check:hover{
    color: #676c75;
}

.popup_list{
    position: fixed;
    width: 300px;
    height: 240px;
    background: #e4e0dd;
    border-left: 1px solid #c7c6c4;
    border-bottom: 1px solid #c7c6c4;
    top: 50px; right: 0;
    display: flex;
    flex-direction: column;
}
.icon_box{
    width: 35px;
    height: 35px;
    background: #e4e0dd;
    position: fixed;
    /* right: 300px; */
    /* border-left: 1px solid #c7c6c4;
    border-bottom: 1px solid #c7c6c4; */
    cursor: pointer;
}
.popup_close{
    color: #12192f;
    position: absolute;
    top: 50%; left: 60%;
    transform: translate(-50%, -50%);
}
.popup_list h1{
    color: #12192f;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
.input_login, .login_result{
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    border-top: 1px solid #c7c6c4;
}
.input_login p{
    width: 250px;
    margin: 5px auto;
}
.input_login input{
    width: 250px;
    margin: 5px auto;
    outline: none;
    border: none;
    border-bottom: 1px solid #c7c6c4;
    background: #e4e0dd;
    padding-left: 10px;
}
.input_login input::placeholder{
    color: rgba(18, 25, 47, .3);
}

.login_result p{
    width: 250px;
    margin: 5px auto;
    text-align: center;
    color: #12192f;
    font-size: 18px;
}
.login_result p:nth-child(1){
    margin-top: 15px;
}

.input_btns, .login_result_btns{
    display: flex;
    width: 250px;
    margin: 5px auto;
    gap: 1px;
    position: absolute;
    left: 50%; bottom: 0%;
    transform: translate(-50%, -50%);
}

.login_btn, .signup_btn{
    width: 50%;
    /* color: #fff; */
    background: #e8e9eb;
    border: 1px solid #c7c6c4;
    cursor: pointer;
    color: rgba(18, 25, 47, .8);
}
.update_btn, .logout_btn{
    width: 50%;
    /* color: #fff; */
    background: #e8e9eb;
    border: 1px solid #c7c6c4;
    cursor: pointer;
    color: rgba(18, 25, 47, .8);
    margin-top: 10px;
}
.login_btn:hover, .signup_btn:hover, .signup_submit:hover, .update_btn:hover, .logout_btn:hover, .update_submit:hover{
    background: rgba(199, 198, 196, .3);
}

.popup_signup, .popup_update{
    top: 240px;
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid rgba(199, 198, 196, .3);
    border-left: 1px solid #c7c6c4;
    border-bottom: 1px solid #c7c6c4;
    background: #e4e0dd;
    position: absolute;
    right: 0;
    display: none;
}
.popup_update{
    height: 330px;
}
.input_signup, .input_update{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
}
.input_signup h3, .input_update h3{
    font-weight: bold;
    font-size: 16px;
}
.input_signup p, .input_update p{
    font-size: 12px;
    margin-bottom: 0;
}
.id_group{
    margin-top: 3px;
    margin-bottom: 10px;
    display: flex;
    width: 242px;
    height: 15px;
    padding: 7px;
    border: 1px solid #c7c6c4;
    border-radius: 3px;
}
.signup_id{
    outline: none;
    border: none;
    background: #e4e0dd;
}
.id_check{
    outline: none;
    background: #e4e0dd;
    border: none;
    font-size: 12px;
    cursor: pointer;
    color: #12192f;
    margin-left: 8px;
    line-height: 15px;
    border-left: 1px solid #c7c6c4;
}
.signup_email, .signup_password, .password_check, .update_email, .update_password, .update_password_check{
    width: 236px;
    margin-top: 3px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #c7c6c4;
    border-bottom: 1px solid #c7c6c4;
    background: #e4e0dd;
    padding: 7px 10px;
    border-radius: 3px;
}
.input_signup input::placeholder, .input_update input::placeholder{
    font-size: 12px;
    color: rgba(18, 25, 47, .5);
}
.signup_submit, .update_submit{
    width: 255px;
    margin: 0 auto;
    background: #e8e9eb;
    border: 1px solid #c7c6c4;
    cursor: pointer;
    color: rgba(18, 25, 47, .8);
}
.signup_close, .update_close{
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
}

.date_input{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 25px;    
}
.select_date{
    height: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #12192f;
    font-size: 15px;
    padding-left: 3px; padding-bottom: 3px;
    border-bottom-left-radius: 5px; border-top-left-radius: 5px;
    border: 1px solid #c7c6c4;
    background-color: rgba(232, 233, 235, .7);
}
.search{
    height: 100%;
    font-size: 25px;
    color: #12192f;
    border: 1px solid #c7c6c4;
    border-bottom-right-radius: 5px; border-top-right-radius: 5px;
    cursor: pointer;
    background-color: rgba(232, 233, 235, .7);
}
@media (max-width: 650px){
    .header_group{
        margin-right: 5px;
        justify-content: space-evenly;
        width: 250px;
    }
}

@media (max-width: 601px) {
    .header_group{
        margin-right: 25px;
    }
    .header_group a{
        font-size: 15px;
    }
    .header_group{
        margin-right: 5px;
        justify-content: space-evenly;
        width: 250px;
    }
    .header_group a{
        font-size: 14px;
    }
    .header_popup{
        font-size: 14px;
    }
    .date_input{
        margin-top: 5px;
    }
    .select_date{
        width: 100px;
        margin-left: 10px;
        height: 22px;
        font-size: 13px;
        padding-right: 5px;
    }
    .search{
        height: 100%;
        font-size: 22px;
        line-height: 25px;
    }
}

@media (max-width: 450px){
    .title_name{
        margin-bottom: 5px;
    }
    .header_title{
        font-size: 18px;
        margin-left: 25px;
    }
    .AOBO_info{
        margin-left: 5px;
        width: 100px;
        font-size: 10px;
    }
    .header_group{
        margin-right: 5px;
        justify-content: space-evenly;
        width: 150px;
    }
    .header_group a{
        font-size: 12px;
    }
    .header_popup{
        font-size: 12px;
    }
    .date_input{
        margin-top: 0px;
    }
    .select_date{
        width: 80px;
        margin-left: 10px;
        height: 100%;
        font-size: 11px;
        padding-right: 5px;
    }
    .search{
        height: 100%;
        font-size: 20px;
        line-height: 25px;
        border-radius: 5px;
    }
    
    .popup_list{
        width: 250px;
        height: 220px;
    }
    .icon_box{
        width: 30px;
        height: 30px;
        /* right: 250px; */
    }
    .popup_close{
        left: 50%;
    }
    .popup_list h1{
        font-size: 15px;
        margin-top: 40px;
    }
    .input_login, .login_result{
        width: 95%;
        margin: 13px auto;
    }
    .input_login p{
        width: 200px;
    }
    .login_result p{
        width: 200px;
        font-size: 16px;
    }
    .input_login input{
        width: 200px;
    }
    .input_btns, .login_result_btns{
        width: 200px;
        gap: 1px;
    }

    .popup_signup, .popup_update{
        width: 250px;
        height: 350px;
        top: 219px;
    }
    .popup_update{
        height: 300px;
    }
    .input_signup, .input_update{
        width: 200px;
    }
    .input_signup h3, .input_update h3{
        font-size: 14px;
    }
    .input_signup p, .input_update p{
        font-size: 10px;
    }
    .signup_email, .signup_password, .password_check, .update_email, .update_password, .update_password_check{
        width: 180px;
        margin-top: 3px;
        margin-bottom: 10px;
        padding: 7px 10px;
    }
    .input_signup input::placeholder, .input_update input::placeholder{
        font-size: 10px;
    }
    .signup_submit, .update_submit{
        width: 190px;
        margin: auto 7px;
    }
    .id_group{
        width: 186px;
    }
    .signup_id{
        width: 120px;
    }
    .id_check{
        font-size: 8px;
        margin-left: 4px;
    }
}