.container{
    font-family: 'Noto Sans KR', sans-serif;
    color: #12192f;
}

.boxoffice_date{
    position: relative;
    top: 150px; left: 10%;
}

.boxoffice{
    display: grid;
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 400px;
    position: relative;
    top: 200px; left: 10%;
    cursor: pointer;
    border-bottom: 1px solid rgba(193, 198, 203, .8);
}
.item:hover{
    opacity: .8;
}
.movie_img{
    width: 100%; height: 400px;
}
.movie_title{
    font-size: 15px;
    text-align: center;
    margin-top: 10px; margin-bottom: 10px;
}

.boxoffice_info, .more_Modal{
    position: fixed;
    width: 800px;
    height: 700px;
    top: 150px; right: 10%;
    background-color: rgb(193, 198, 203);
    display: flex;
    flex-direction: column;
}
.info_close, .more_close{
    position: absolute;
    right: 0;
    margin-top: 5px; margin-right: 5px;
    cursor: pointer;
}
.go_back{
    position: absolute;
    left: 0;
    margin-top: 10px; margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
}

.boxoffice_info ul, .more_Modal ul{
    width: 100%;
    margin-left: 50px;
}
.boxoffice_info_name, .movieNm{
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 50px;
}
.boxoffice_info ul li, .more_Modal ul li{
    margin-bottom: 10px;
    list-style-type: circle;
}
.more_info{
    position: absolute;
    right: 50px; bottom: 50px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgba(18, 25, 47, .8);
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgba(103, 108, 117, .3);
}
.more_info:hover{
    background-color: rgba(103, 108, 117, .2);
}

.hide_movie_code, .movie_code{
    display: none;
}

.go_up{
    position: fixed;
    right: 0; bottom: 0;
    font-size: 50px;
    margin-right: 10px; margin-bottom: 10px;
    cursor: pointer;
}

@media (max-width: 391px) {
    .boxoffice_date{
        top: 120px;
        font-size: 22px;
    }
    .item{
        width: 300px;
        top: 150px; left: 11%;
    }
    .movie_img{
        height: 300px;
    }
    .go_up{
        right: 35px; bottom: 0;
        font-size: 30px;
    }

    .boxoffice_info, .more_Modal{
        width: 370px;
        height: 570px;
        top: 90px;
        right: 0;
    }    
    .boxoffice_info ul, .more_Modal ul{
        margin-left: 20px;
        font-size: 12px;
    }
    .boxoffice_info_name, .movieNm{
        margin-top: 60px;
        font-size: 15px;
        margin-left: 20px;
    }
    .more_info{
        right: 20px; bottom: 50px;
        font-size: 12px;
    }
}

/* @media (max-width: 500px) {
    .item{
        width: 300px;
    }
    .moive_img{
        height: 300px;
    }
    .boxoffice_info{
        width: 370px;
        height: 550px;
    }
    .boxoffice_info ul{
        margin-top: 70px;
    }
} */