.container{
    font-family: 'Noto Sans KR', sans-serif;
    color: #12192f;
}

.boxoffice_date{
    position: relative;
    top: 150px; left: 11%;
}

.boxoffice{
    display: grid;
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
    top: 200px; left: 15%;
    cursor: pointer;
    border-bottom: 1px solid rgba(193, 198, 203, .8);
}
.item:nth-last-child(1){
    margin-bottom: 230px;
}
.item:hover{
    opacity: .8;
}
.movie_img{
    width: 100%; height: 400px;
}
.movie_title{
    font-size: 15px;
    text-align: center;
    margin-top: 10px; margin-bottom: 10px;
}

.boxoffice_info, .more_Modal{
    position: fixed;
    width: 800px;
    height: 700px;
    top: 50%; left: 65%;
    transform: translate(-50%, -50%);
    background-color: rgb(193, 198, 203);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.info_close, .more_close{
    position: absolute;
    right: 0;
    margin-top: 5px; margin-right: 5px;
    cursor: pointer;
}
.go_back{
    position: absolute;
    left: 0;
    margin-top: 10px; margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
}

.boxoffice_info ul, .more_Modal ul{
    width: 100%;
    margin-left: 50px;
}
.boxoffice_info_name, .movieNm{
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 50px;
}
.boxoffice_info ul li, .more_Modal ul li{
    margin-bottom: 10px;
    list-style-type: circle;
}
.more_info{
    position: absolute;
    right: 50px; bottom: 50px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgba(18, 25, 47, .8);
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgba(103, 108, 117, .3);
}
.more_info:hover{
    background-color: rgba(103, 108, 117, .2);
}

.hide_movie_code, .movie_code{
    display: none;
}

.go_up{
    position: fixed;
    right: 0; bottom: 0;
    font-size: 50px;
    margin-right: 10px; margin-bottom: 10px;
    cursor: pointer;
}

.function_info{
    position: fixed;
    bottom: 50px;
    left: 10px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #989898;
    background: #e4e0dd;
    padding: 8px;
    cursor: pointer;
}
.function_info_close{
    position: absolute;
    top: 0; right: 5px;
    cursor: pointer;
}

@media (max-width: 1250px){
    .boxoffice_date{
        left: 0;
        text-align: center;
    }
    .item{
        left: 0;
        margin: 0 auto;
    }
    .boxoffice_info, .more_Modal{
        width: 800px;
        height: 700px;
        top: 50%; left: 50%;
    }   
}

@media (max-width: 850px) {
    .boxoffice_info, .more_Modal{
        width: 650px;
    }   
}

@media (max-width: 700px) {
    .boxoffice_info, .more_Modal{
        width: 600px;
    } 
}

@media (max-width: 610px) {
    .boxoffice_info, .more_Modal{
        width: 500px;
    } 
}

@media (max-width: 520px){
    .boxoffice_info, .more_Modal{
        width: 440px;
    } 
    .boxoffice_info ul, .more_Modal ul{
        margin-left: 10px;
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .boxoffice_date{
        top: 120px;
        font-size: 22px;
    }
    .item{
        width: 250px;
        top: 150px; left: 0;
    }
    .movie_img{
        height: 300px;
    }
    .go_up{
        font-size: 30px;
    }

    .boxoffice_info, .more_Modal{
        width: 360px;
        height: 570px;
        margin-top: 30px;
    }    
    .boxoffice_info ul, .more_Modal ul{
        margin-left: 10px;
        font-size: 12px;
    }
    .boxoffice_info_name, .movieNm{
        margin-top: 60px;
        font-size: 15px;
        margin-left: 20px;
    }
    .more_info{
        right: 20px; bottom: 30px;
        font-size: 12px;
    }
}