@import url('header.css');
@import url('main.css');

body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(193, 198, 203, .4);
    overflow-x: hidden;
}

.hide{
    display: none;
}
.show{
    display: block;
}