.movie_container{
    font-family: 'Noto Sans KR', sans-serif;
    color: #12192f;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    text-align: center;
}

.theater_choice{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 110px;
}
.theater_choice span{
    cursor: pointer;
    padding: 10px;
    background-color: inherit;
    border: none;
    border-right: 1px solid #c7c6c4;
    line-height: 120px;
}
.theater_choice span:nth-child(1){
    border-left: 1px solid #c7c6c4;
}
.theater_choice span:hover{
    background-color: rgba(199, 198, 196, .3);
}
.theater_choice span img{
    background-size: contain;
}

.cgv, .lotte, .megabox{
    margin-left: 50px;
}

table{
    width: 100%;
    white-space: nowrap;
}
.table{
    overflow-x: auto;
}

td{
    border-right: 1px solid #c7c6c4;
    border-bottom: 1px solid #c7c6c4;
    padding: 5px;
}

.seat_type{
    border-top: 1px solid #c7c6c4;
}

p{
    text-align: left;
    margin: 0;
    /* width: 100%; */
}

.plus{
    font-size: 12px;
    text-align: right;
}

ul, li{
    text-align: left;
    padding-left: 0;
}
ul{
    margin-top: 3px;
    margin-bottom: 3px;
}
li{
    list-style: none;
}

.cgv p:nth-last-child(1), .lotte p:nth-last-child(1), .megabox p:nth-last-child(1){
    margin-bottom: 50px;
}

.special_theater a{
    color: #12192f;
    text-decoration-line: none;
}